
@import "../../App.scss";


.services {
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    padding: 50px 0;
    
    @include mobile {
      height: 100%;
      gap: 15px;
    }
    .textContainer {
      width: 650px;
      align-self: flex-end;
      display: flex;
      align-items: center;
      gap: 20px;
  
      @include mobile {
        align-self: center;
        text-align: center;
        flex-direction: column;
        gap: 15px;
      }
  
      p {
        font-weight: 200;
        font-size: 15px;
        color: gray;
        text-align: right;

        @include mobile {
         font-size: 13px;
        }
      }
  
      hr {
        width: 250px;
        border: none;
        border-top: 0.5px solid gray;
  
        @include mobile {
          width: 250px;
        }
      }
    }
  
    .titleContainer {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      @include mobile {
        width: 100%;
        display: flex;
        gap: 10px;
        
      }
      
      .title {
        display: flex;
        align-items: center;
        gap: 50px;
  
        @include mobile {
          flex-direction: row;
          text-align: center;
          gap: 20px;
        }
  
        img {
          width: 300px;
          height: 80px;
          border-radius: 50px;
          object-fit: cover;
  
          @include mobile {
            display: none;
          }
        }
  
        h1 {
          font-size: 50px;
          font-weight: 100;
  
          @include mobile {
            font-size: 20px;
          }
        }
  
       
      }
    }
    
    .containerImg{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:  50px;
        padding: 50px ;

        @include mobile {
          gap: 20px;
          padding: 10px;
          flex-direction: column;
        }


        .card{
            position: relative;
            width: 300px;
            height: 250px;
            background-color: #16162b;
            border-radius: 20px;
            box-shadow: 0 35px 80px rgba(0,0,0,15);
            transition: all 0.8s ease-out;
            cursor: pointer;

            @include mobile {
              width: 180px;
            height: 135px;
            }
        }
        
        .card:hover{
            height: 380px;
            @include mobile {
            height: 180px;
            }
        }
        .card:hover .image{
            top: -80px;
            scale: 0.75;
            box-shadow: 0 15px 45px rgba(0,0,0,15);
            @include mobile {
            top: 0;
            scale: 0;
            }
        }
        .image{
            position: absolute;
            top: 20px;
            left: 35px;
            width: 230px;
            height: 180px;
            background: #333;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.8s ease-out;
            border-radius: 12px;
            overflow: hidden;


            @include mobile {
              top: 8px;
              left: 35px;
              width: 110px;
              height: 70px;
            }
           
        }
        .image img{
           width: 100%;
           height: 100%;
           position: absolute;
           top: 0;
           left: 0;
           object-fit: cover;
          

        }
        h2{
            font-size: 20px;
            text-align: center;
            font-weight: 700;

            @include mobile {
              font-size: 8px;
            font-weight: 800;
            }
        }
        p{
            font-size: 15px;
            @include mobile {
              font-size: 8px;
            }
        }
        .content{
            position: absolute;
            top: 215px;
            width: 100%;
            padding: 0 20px;
            text-align: left;
            overflow: hidden;
            transition: all 0.8s ease-out;
            height: 25px;
            @include mobile {
              top: 83px;
            }
            
        }
        .card:hover .content{
            height: 360px;
            top:130px;


            @include mobile {
              height: 180px;
              top: 25px;
            }
        }
        .box{
            display: flex;
            gap: 25px;
            flex-direction: column;
            @include mobile {
              gap: 15px;

            }
        }
    }
  }
  

